<!--[include file="Public:header" /]-->
<div class="contactusbg"></div>
<div style="clear:both"></div>
<div class="ernavbg"></div>
<div class="service inner">
	 <div class="ernav">
    	<span>联系我们</span>
        <ul>            
            <li class="hover"><a href="{:U('contactus/index')}">联系方式</a></li>
			<li><a href="{:U('contactus/careers')}">招贤纳士</a></li>
        </ul>
    </div>
     <div class="erright">
    	<div class="top">
        	<span>{$data.name}</span>
            <div class="position">
            	您当前位置：<a href="__APP__/">首页</a> > 联系我们
            </div>
        </div>
        <div class="ertitle">
        	<b>联系方式</b> Contact Information
        </div>
        <div class="contactus content" style="margin-top:10px">
        	<ul>
            	<li>
                	<span>北京总部</span>
                    <span>+ 地址：北京市东城区广渠门内大街45号雍贵中心D座11层</span>
                    <span>+ 邮编：100062</span>
                    <span>+ 销售热线：010-67183686  010-66410808</span>
                    <span>+ 传真：010-66410008</span>
                </li>
                <li>
                	<img src="__IMG__/cewm.jpg">
                </li>
                <li>
                	<span>上海分公司</span>
                    <span>+ 地址：上海市闵行区紫月路1000号东软软件园</span>
                    <span>+ 邮编：200241</span>
                    <span>+ 电话：021-33578650    18516116355</span>
                    <span>+ 传真：021-33578749</span>
                </li>
                <li>
                	<span>广州分公司</span>
                    <span>+ 地址：广州市越秀区东风东路850号锦城大厦1009</span>
                    <span>+ 邮编：510600</span>
                    <span>+ 电话：020-87347059,87347051,87347052 </span>
                    <span>+ 传真：020-87347059-805</span>
                </li>
                <li>
                	<span>成都分公司</span>
                    <span>+  地址：成都市武侯区人民南路四段21号盘古花园3-3-1301  </span>
                    <span>+  邮编：610041  </span>
                    <span>+  电话：028-87017625 </span>
                    <span>+  传真：028-87017625</span>
                </li>
                <li>
                	<span>武汉分公司</span>
                    <span>+ 地址：武汉市东湖新技术开发区关南科技园1幢3楼313号  </span>
                    <span>+ 邮编：430074  </span>
                    <span>+ 电话：400-6608860</span>
                </li>
                <li>
                	<span>沈阳分公司</span>
                    <span>+ 地址：辽宁省沈阳市沈河区风雨坛街116-2号（3-7-2）  </span>
                    <span>+ 邮编：110064 </span>
                    <span>+ 电话：400—6608860</span>
                </li>
            </ul>
        </div>
     </div>
</div>
<div style="clear:both"></div>

<!--[include file="Public:footer" /]-->