<footer><span class="icon-top" id="scrollTop"></span>

  <div class="container">
    <div class="footer-container">
      <div class="info">
        <div class="qrcode img-wrap"><img src="__PUBLIC__/home/img/navlogo.png"
                                          alt="Linkface Wechat QRcode"></div>
        <div class="info-lines"><p class="tel">+86-13521964944</p>

          <p class="linkface">伊凡达互动(北京)科技有限公司</p>

          <p>合作邮箱：<a href="mailto:market@linkface.cn">evatarbj@evatarchina.com</a></p>

          <p>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址: 北京市朝阳区达美中心T4-7层</p>
          <p class="copyright">版权所有: 伊凡达互动(北京)科技有限公司 <span  class="jing">京ICP备18045739</span></p>
        </div>
      </div>
      <!--<div class="link">-->
        <!--&lt;!&ndash;<p class="caption">开放Motion</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="content" style="max-width: 290px; line-height: 20px; font-size: 14px; font-weight: normal;">开放Motion伊凡达互动科技有限公司伊凡达互动科技有限公司伊凡达互动科技有限公司互动科技有限公司伊凡达互</p>&ndash;&gt;-->
        <!--<p class="tool_jishu">技术支持: 鸿扬网络</p>-->
      <!--</div>-->
    </div>
  </div>
</footer>
</div>
</div>
</div>
<!-- <div class="loading fullpage" data-section="loading">
  <div class="loading-inner">
    <div><i class="icon-E"></i></div>
    <div><i class="icon-C"></i></div>
    <div><i class="icon-A"></i></div>
    <div><i class="icon-F"></i></div>
    <div><i class="icon-K"></i></div>
    <div><i class="icon-N"></i></div>
    <div><i class="icon-I"></i></div>
    <div><i class="icon-L"></i></div>
  </div>
</div> -->
</div>
<!--<script src="/javascript/vendor.js"></script>-->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1271905915'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1271905915%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
