<!--[include file="Public:header" /]-->
<div class="responsibilitybg"></div>
<div style="clear:both"></div>
<div class="ernavbg"></div>
<div class="service inner">
	 <div class="ernav">
    	<span>社会责任</span>
        <ul>            
            <li <!--[if condition="$data.id == 6"]-->class="hover"<!--[/if]-->><a href="{:U('responsibility/index')}">公益理念</a></li>
			<li <!--[if condition="$data.id == 7"]-->class="hover"<!--[/if]-->><a href="{:U('responsibility/charitable')}">慈善捐赠</a></li>
			<li <!--[if condition="$data.id == 8"]-->class="hover"<!--[/if]-->><a href="{:U('responsibility/responsibility')}">责任体系</a></li>
			<li <!--[if condition="$data.id == 9"]-->class="hover"<!--[/if]-->><a href="{:U('responsibility/social')}">社会责任报告</a></li>
        </ul>
    </div>
     <div class="erright">
    	<div class="top">
        	<span>{$data.name}</span>
            <div class="position">
            	您当前位置：<a href="__APP__/">首页</a> > 
                <a href="{:U('responsibility/index')}">社会责任</a> >
                {$data.name}
            </div>
        </div>
        <div class="ertitle">
        	<b>{$data.name}</b> {$data.enname}
        </div>
        <div class="content">
        	{$data.content.0}
        </div>
        
     </div>
</div>
<div style="clear:both"></div>

<!--[include file="Public:footer" /]-->