<!--[include file="Public:header" /]-->

<div class="culture">
  <div class="w_auto">
    <div class="mainbody">
      <!--[include file="Culture:nav" /]-->
      <div class="rightbody">
        <div class="w_auto3">
          <div class="link"> <span><a href="__APP__/">首页</a> ＞ <a href="{:U('culture/index')}">企业文化</a> ＞ {$data.name} </span> </div>
          <div class="clearfix"></div>
          <div class="bt">
            <p class="title">{$data.name}</p>
            <!--[if condition="$data.id == 20"]--><p class="en"><p class="en">CORPORATE CULTURE</p></p><!--[/if]-->
            <!--[if condition="$data.id == 21"]--><p class="en">STAFF TRAINING</p><!--[/if]-->
          </div>
          <div class="wenhua_read">
            {$data.content.0}
            <p> <br>
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--[include file="Public:footer" /]-->