<div class="leftnav">
  <ul>
    <li <!--[if condition="ACTION_NAME == 'index'"]-->class="on"<!--[/if]-->><a title="企业文化" href="{:U('culture/index')}">企业文化</a></li>
    <li <!--[if condition="ACTION_NAME == 'staff'"]-->class="on"<!--[/if]-->><a title="员工培训" href="{:U('culture/staff')}">员工培训</a></li>
    <li <!--[if condition="ACTION_NAME == 'excellent' || ACTION_NAME == 'excellent_show'"]-->class="on"<!--[/if]-->><a title="优秀表彰" href="{:U('culture/excellent')}">优秀表彰</a></li>
    <li <!--[if condition="ACTION_NAME == 'special' || ACTION_NAME == 'special_show'"]-->class="on"<!--[/if]-->><a title="专题活动" href="{:U('culture/special')}">专题活动</a></li>
  </ul>
</div>
