<!--[include file="Public:header" /]-->

<div class="dynamic">
  <div class="w_auto">
    <div class="mainbody">
      <!--[include file="Culture:nav" /]-->
      <div class="rightbody">
        <div class="w_auto3">
          <div class="link"> <span><a href="http://www.canyon-model.com/">首页</a> ＞ <a href="/news/gsdt">新闻中心</a> ＞ <a href="http://www.canyon-model.com/news/gsdt/">公司动态</a> </span> </div>
          <div class="clearfix"></div>
        </div>
        <div class="new_read">
          <h1>成都蓝光双流373亩售楼处沙盘模型项目</h1>
          <div class="new_read_mbx">关键词：<a href="index.php?ac=search&amp;at=result&amp;lng=cn&amp;mid=12&amp;keyword=建筑模型&amp;keyname=title" target="_blank">建筑模型</a><a href="index.php?ac=search&amp;at=result&amp;lng=cn&amp;mid=12&amp;keyword=售楼处沙盘制作&amp;keyname=title" target="_blank">售楼处沙盘制作</a><a href="index.php?ac=search&amp;at=result&amp;lng=cn&amp;mid=12&amp;keyword=成都双流373亩&amp;keyname=title" target="_blank">成都双流373亩</a><span>2017-07-05</span><span>浏览：<script type="text/javascript" src="http://www.canyon-model.com/index.php?ac=scriptout&amp;at=click&amp;did=4467"></script>136</span></div>
          <!--startprint1--> 
          <!--打印内容开始-->
          <p>成都蓝光双流373亩项目位于双流永康森林旁，坐拥373亩城市独特稀缺土地，与规划中的江安河湿地公园所环绕，逸揽都市天然绿肺，赋予冰冷的建筑鲜活的生命力，将成都的特色文化底蕴与自然生态环境相融合，让人们更亲近自然，更能感受到大自然的美丽。<br>
          </p>
          <p style="text-align: center;"><img src="/upfile/others/1499215156115089.jpg" title="成都蓝光双流沙盘模型项目总体.jpg" alt="成都蓝光双流沙盘模型项目总体.jpg"></p>
          <p style="text-align: center;"><strong>成都蓝光双流沙盘模型项目总体</strong></p>
          <p style="text-align: center;"><strong>模型比例：670*500</strong></p>
          <p style="text-align: center;"><strong>模型尺寸：8M*10M椭圆</strong></p>
          <p style="text-align: center;"><strong>制作单位：润朗佰嘉深圳</strong></p>
          <p style="text-align: center;"><img src="/upfile/others/1499215173529270.jpg" style="" title="成都蓝光双流建筑沙盘模型图片.jpg"></p>
          <p style="text-align: center;"><img src="/upfile/others/1499215173344652.jpg" style="" title="成都蓝光双流建筑沙盘模型图片.jpg"></p>
          <p style="text-align: center;"><img src="/upfile/others/1499215173167734.jpg" style="" title="成都蓝光双流建筑沙盘模型图片.jpg"></p>
          <p>润朗佰嘉在成都蓝光双流373亩<a href="http://www.canyon-model.com/pro/jzmx/" target="_blank" title="建筑模型作品">建筑模型</a>总体制作上，根据客户要求，重要建筑写实手法制作，依托周边自然环境优势，采用双层仿真水制作出的水系的倒影效果，与层次分明、多品种植栽小品精心搭配，真实展现了宜居与休闲的生活环境。</p>
          <p style="text-align: center;"><img src="/upfile/others/1499215304394931.jpg" style="" title="成都蓝光双流373亩户型模型.jpg"></p>
          <p style="text-align: center;"><img src="/upfile/others/1499215304294048.jpg" style="" title="成都蓝光双流373亩户型模型.jpg"></p>
          <p><a href="http://www.canyon-model.com/product_view--id-309.html" target="_blank" title="户型建筑模型制作">户型模型</a>采用外墙透明内部写实制作，配合可播放电视、桌椅、沙发等，不仅可让购房者清楚看见内部格局，还可以让观赏者身临 其境地享受生活之美。</p>
          <p style="text-align: center;"><img src="/upfile/others/1499215323714828.jpg" title="区域模型.jpg" alt="7区域模型.jpg"></p>
          <p>区域模型以4.3*3.8M尺寸，选用镜面玻璃制作，外观平整精致。交通路网、项目所在商圈及地理位置一一清晰呈现。润朗佰嘉成立于1994年，专注于沙盘模型、数字展厅、影视制作等视觉工程。更多案例可访问润朗佰嘉官网http://www.canyon-model.com或http://www.canyon-vision.com了解咨询。</p>
          <!--打印内容结束--> 
          <!--endprint1-->
          <div class="lianjie">
            <div class="nps">
              <p>上一篇：<a title="闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目" href="http://www.canyon-model.com/4466.html">闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目</a></p>
              <p>下一篇：无</p>
            </div>
            <div class="shares"> 
              <!-- JiaThis Button BEGIN -->
              <div class="jiathis_style_24x24"> <a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a> <a class="jiathis_button_tsina" title="分享到微博"><span class="jiathis_txt jtico jtico_tsina"></span></a> <a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a> <a class="jiathis_button_weixin" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a> <a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a> <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> <a class="jiathis_counter_style"><span class="jiathis_button_expanded jiathis_counter jiathis_bubble_style" id="jiathis_counter_85" title="累计分享0次">0</span></a> </div>
              <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1385382735329652" charset="utf-8"></script><script type="text/javascript" src="http://v3.jiathis.com/code/plugin.client.js" charset="utf-8"></script> 
              <!-- JiaThis Button END -->
              <div class="clearfix"></div>
              <p><a onclick="history.go(-1)">返回</a><a onclick="preview(1)">打印此页</a><a href="" target="_blank">给我们发邮件</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="bottomer">
          <div class="links">
            <p class="xgtj">相关推荐</p>
          </div>
          <div class="cxscroll" id="element_id2">
            <div class="box">
              <ul id="minthumb2" class="list">
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4467.html" title="成都蓝光双流373亩售楼处沙盘模型项目"><img src="http://www.canyon-model.com/upfile/news/20170705083820_366.jpg" alt="成都蓝光双流373亩售楼处沙盘模型项目" width="162" height="95"></a>
                    <p class="title">成都蓝光双流373亩售楼处沙盘模型项目</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4467.html" title="成都蓝光双流373亩售楼处沙盘模型项目">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4467.html">2017-07-05</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4466.html" title="闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目"><img src="http://www.canyon-model.com/upfile/news/20170704083602_191.jpg" alt="闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目" width="162" height="95"></a>
                    <p class="title">闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4466.html" title="闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4466.html">2017-07-04</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4465.html" title="香港回归20周年：让我们以微缩模型来回顾70年代的老香港"><img src="http://www.canyon-model.com/upfile/news/20170703090859_490.jpg" alt="香港回归20周年：让我们以微缩模型来回顾70年代的老香港" width="162" height="95"></a>
                    <p class="title">香港回归20周年：让我们以微缩模型来回顾70年代的老香港</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4465.html" title="香港回归20周年：让我们以微缩模型来回顾70年代的老香港">新闻中心-<b>行业新闻</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4465.html">2017-07-03</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4464.html" title="精彩提前看：润朗佰嘉助力桂林万达城智能动态沙盘"><img src="http://www.canyon-model.com/upfile/news/20170703085655_173.jpg" alt="精彩提前看：润朗佰嘉助力桂林万达城智能动态沙盘" width="162" height="95"></a>
                    <p class="title">精彩提前看：润朗佰嘉助力桂林万达城智能动态沙盘</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4464.html" title="精彩提前看：润朗佰嘉助力桂林万达城智能动态沙盘">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4464.html">2017-07-03</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4461.html" title="提高客户服务质量，加强“工匠精神”建设"><img src="http://www.canyon-model.com/upfile/news/20170619093915_316.jpg" alt="提高客户服务质量，加强“工匠精神”建设" width="162" height="95"></a>
                    <p class="title">提高客户服务质量，加强“工匠精神”建设</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4461.html" title="提高客户服务质量，加强“工匠精神”建设">新闻中心-<b>佰嘉风采</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4461.html">2017-06-19</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4460.html" title="北京汽车株洲基地二工厂多媒体数字沙盘综合展项"><img src="http://www.canyon-model.com/upfile/news/20170619092814_377.jpg" alt="北京汽车株洲基地二工厂多媒体数字沙盘综合展项" width="162" height="95"></a>
                    <p class="title">北京汽车株洲基地二工厂多媒体数字沙盘综合展项</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4460.html" title="北京汽车株洲基地二工厂多媒体数字沙盘综合展项">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4460.html">2017-06-19</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4459.html" title="保加利亚格爵别墅模型项目"><img src="http://www.canyon-model.com/upfile/news/20170616141201_454.jpg" alt="保加利亚格爵别墅模型项目" width="162" height="95"></a>
                    <p class="title">保加利亚格爵别墅模型项目</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4459.html" title="保加利亚格爵别墅模型项目">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4459.html">2017-06-16</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4458.html" title="【迎新会】六月，我们在一起"><img src="http://www.canyon-model.com/upfile/news/20170609141342_406.jpg" alt="【迎新会】六月，我们在一起" width="162" height="95"></a>
                    <p class="title">【迎新会】六月，我们在一起</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4458.html" title="【迎新会】六月，我们在一起">新闻中心-<b>佰嘉风采</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4458.html">2017-06-09</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4457.html" title="润朗佰嘉上海模型公司|消防安全演练活动回顾"><img src="http://www.canyon-model.com/upfile/news/20170602171323_746.jpg" alt="润朗佰嘉上海模型公司|消防安全演练活动回顾" width="162" height="95"></a>
                    <p class="title">润朗佰嘉上海模型公司|消防安全演练活动回顾</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4457.html" title="润朗佰嘉上海模型公司|消防安全演练活动回顾">新闻中心-<b>佰嘉风采</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4457.html">2017-06-02</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4456.html" title="油泥模型制作与3D打印技术的优缺点有哪些"><img src="http://www.canyon-model.com/upfile/news/20170601143830_752.png" alt="油泥模型制作与3D打印技术的优缺点有哪些" width="162" height="95"></a>
                    <p class="title">油泥模型制作与3D打印技术的优缺点有哪些</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4456.html" title="油泥模型制作与3D打印技术的优缺点有哪些">新闻中心-<b>技术支持</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4456.html">2017-06-01</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4467.html" title="成都蓝光双流373亩售楼处沙盘模型项目"><img src="http://www.canyon-model.com/upfile/news/20170705083820_366.jpg" alt="成都蓝光双流373亩售楼处沙盘模型项目" width="162" height="95"></a>
                    <p class="title">成都蓝光双流373亩售楼处沙盘模型项目</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4467.html" title="成都蓝光双流373亩售楼处沙盘模型项目">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4467.html">2017-07-05</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4466.html" title="闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目"><img src="http://www.canyon-model.com/upfile/news/20170704083602_191.jpg" alt="闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目" width="162" height="95"></a>
                    <p class="title">闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4466.html" title="闹中取静独风雅，雾里看花自繁华|大同世茂·满庭芳建筑模型项目">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4466.html">2017-07-04</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4465.html" title="香港回归20周年：让我们以微缩模型来回顾70年代的老香港"><img src="http://www.canyon-model.com/upfile/news/20170703090859_490.jpg" alt="香港回归20周年：让我们以微缩模型来回顾70年代的老香港" width="162" height="95"></a>
                    <p class="title">香港回归20周年：让我们以微缩模型来回顾70年代的老香港</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4465.html" title="香港回归20周年：让我们以微缩模型来回顾70年代的老香港">新闻中心-<b>行业新闻</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4465.html">2017-07-03</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4464.html" title="精彩提前看：润朗佰嘉助力桂林万达城智能动态沙盘"><img src="http://www.canyon-model.com/upfile/news/20170703085655_173.jpg" alt="精彩提前看：润朗佰嘉助力桂林万达城智能动态沙盘" width="162" height="95"></a>
                    <p class="title">精彩提前看：润朗佰嘉助力桂林万达城智能动态沙盘</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4464.html" title="精彩提前看：润朗佰嘉助力桂林万达城智能动态沙盘">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4464.html">2017-07-03</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4461.html" title="提高客户服务质量，加强“工匠精神”建设"><img src="http://www.canyon-model.com/upfile/news/20170619093915_316.jpg" alt="提高客户服务质量，加强“工匠精神”建设" width="162" height="95"></a>
                    <p class="title">提高客户服务质量，加强“工匠精神”建设</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4461.html" title="提高客户服务质量，加强“工匠精神”建设">新闻中心-<b>佰嘉风采</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4461.html">2017-06-19</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4460.html" title="北京汽车株洲基地二工厂多媒体数字沙盘综合展项"><img src="http://www.canyon-model.com/upfile/news/20170619092814_377.jpg" alt="北京汽车株洲基地二工厂多媒体数字沙盘综合展项" width="162" height="95"></a>
                    <p class="title">北京汽车株洲基地二工厂多媒体数字沙盘综合展项</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4460.html" title="北京汽车株洲基地二工厂多媒体数字沙盘综合展项">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4460.html">2017-06-19</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4459.html" title="保加利亚格爵别墅模型项目"><img src="http://www.canyon-model.com/upfile/news/20170616141201_454.jpg" alt="保加利亚格爵别墅模型项目" width="162" height="95"></a>
                    <p class="title">保加利亚格爵别墅模型项目</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4459.html" title="保加利亚格爵别墅模型项目">新闻中心-<b>公司动态</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4459.html">2017-06-16</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4458.html" title="【迎新会】六月，我们在一起"><img src="http://www.canyon-model.com/upfile/news/20170609141342_406.jpg" alt="【迎新会】六月，我们在一起" width="162" height="95"></a>
                    <p class="title">【迎新会】六月，我们在一起</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4458.html" title="【迎新会】六月，我们在一起">新闻中心-<b>佰嘉风采</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4458.html">2017-06-09</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4457.html" title="润朗佰嘉上海模型公司|消防安全演练活动回顾"><img src="http://www.canyon-model.com/upfile/news/20170602171323_746.jpg" alt="润朗佰嘉上海模型公司|消防安全演练活动回顾" width="162" height="95"></a>
                    <p class="title">润朗佰嘉上海模型公司|消防安全演练活动回顾</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4457.html" title="润朗佰嘉上海模型公司|消防安全演练活动回顾">新闻中心-<b>佰嘉风采</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4457.html">2017-06-02</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                <li>
                  <div class="mx"> <a href="http://www.canyon-model.com/4456.html" title="油泥模型制作与3D打印技术的优缺点有哪些"><img src="http://www.canyon-model.com/upfile/news/20170601143830_752.png" alt="油泥模型制作与3D打印技术的优缺点有哪些" width="162" height="95"></a>
                    <p class="title">油泥模型制作与3D打印技术的优缺点有哪些</p>
                    <div class="casename"><a href="http://www.canyon-model.com/4456.html" title="油泥模型制作与3D打印技术的优缺点有哪些">新闻中心-<b>技术支持</b></a></div>
                    <div class="date"><a href="http://www.canyon-model.com/4456.html">2017-06-01</a></div>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="zuoyou">
              <div class="zuo next"></div>
              <div class="you prev"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!--[include file="Public:footer" /]-->