<!--[include file="Public:header" /]-->

<div class="culture">
  <div class="w_auto">
    <div class="mainbody">
      <!--[include file="Culture:nav" /]-->
      <div class="rightbody">
        <div class="w_auto3">
          <div class="link"> <span><a href="http://www.canyon-model.com/">首页</a> ＞ <a href="/wenhua--id-7.html">企业文化</a> ＞ <a href="/wenhua--id-7.html">企业文化</a> </span> </div>
          <div class="clearfix"></div>
          <div class="bt">
            <p class="title">企业文化</p>
            <p class="en">CORPORATE CULTURE</p>
          </div>
          <div class="wenhua_read">
            <p> <br>
            </p>
            <table>
              <tbody>
                <tr class="firstRow">
                  <td width="459" valign="top" height="111" style="word-break: break-all;"><span style="color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 12px; line-height: 22px; widows: 1; background-color: rgb(255, 255, 255);"><span style="color: rgb(225, 119, 0); font-family: 微软雅黑; font-size: 18px; line-height: 24px; widows: 1; background-color: rgb(255, 255, 255);">公司愿景：成为顶级的视觉工程服务商<br>
                    </span>润朗佰嘉以模型行业为起点，成立20年来，不断引入高新技术，持续推动行业的升级。 我们将紧随科技发展的步伐，将声、光、电等传统科学与电脑成像、虚拟现实等信息 技术进行深度整合，将技术和艺术进行完美融合，打造极具震撼的视听盛宴。 润朗佰嘉关注环保、关爱社会，努力成为受人尊敬的顶级视觉工程企业。</span><br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
                  <td width="271" valign="top" height="111" style="word-break: break-all;"><img src="http://www.canyon-model.com/upfile/others/1440485570460999.jpg" title="润朗佰嘉愿景" alt="润朗佰嘉愿景" width="256" height="165" border="0" vspace="0" style="color: rgb(51, 51, 51); font-family: 微软雅黑; font-size: 12px; white-space: normal; widows: 1; background-color: rgb(255, 255, 255); float: right; width: 256px; height: 165px;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
                </tr>
              </tbody>
            </table>
            <p> <br>
            </p>
            <p> <br>
            </p>
            <p> <br>
            </p>
            <table>
              <tbody>
                <tr class="firstRow">
                  <td width="459" valign="top" height="111" style="word-break: break-all;"><p> <span style="color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 12px; line-height: 22px; widows: 1; background-color: rgb(255, 255, 255);"><span style="color: rgb(225, 119, 0); font-size: 18px; line-height: 24px;"><span style="color: rgb(225, 119, 0); font-family: 微软雅黑; font-size: 18px; line-height: 24px; widows: 1; background-color: rgb(255, 255, 255);">企业价值观： 品质成就梦想 创新驱动伟业</span></span></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                    <p> <span style="color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 12px; line-height: 22px; widows: 1; background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 12px; line-height: 22px; widows: 1; background-color: rgb(255, 255, 255);">注重品质，让客户放心满意是润朗佰嘉成立20年来赢得市场、不断成长的关键。认真 细致、追求完美的工作作风已经深深扎根每一个润朗佰嘉人的心中,开拓创新是润朗佰嘉 人永恒不变的追求，我们鼓励员工在工作中自行设计，自行创新，帮助员工更新观 念，为企业创新打下思想基础，推进企业的发展。</span></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p></td>
                  <td width="271" valign="top" height="111" style="word-break: break-all;"><img src="http://www.canyon-model.com/upfile/others/1440485608109533.jpg" title="1440485608109533.jpg" alt="品质.jpg" style="color: rgb(51, 51, 51); font-family: 微软雅黑; font-size: 12px; white-space: normal; widows: 1; background-color: rgb(255, 255, 255); float: right;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
                </tr>
              </tbody>
            </table>
            <p> <br>
            </p>
            <p> <br>
            </p>
            <p> <br>
            </p>
            <table>
              <tbody>
                <tr class="firstRow">
                  <td width="459" valign="top" height="111" style="word-break: break-all;"><p> <span style="color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 12px; line-height: 22px; widows: 1; background-color: rgb(255, 255, 255);"><span style="color: rgb(225, 119, 0); font-size: 18px; line-height: 24px;"><span style="color: rgb(225, 119, 0); font-family: 微软雅黑; font-size: 18px; line-height: 24px; widows: 1; background-color: rgb(255, 255, 255);">人才理念</span></span></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                    <p> <span style="color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 12px; line-height: 22px; widows: 1; background-color: rgb(255, 255, 255);"><span style="color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 12px; line-height: 22px; widows: 1; background-color: rgb(255, 255, 255);">在润朗佰嘉20年的发展历程中，润朗佰嘉建立了一套完善的选、育、用、留人才体系，多年以来通过高质量的培训，不断提升员工素质，强化员工的技术水平，为润朗佰嘉乃至整个行业提供了人才资源。润朗佰嘉以人为中心，承认人的价值，尊重员工、爱护员工、关心员工，努力使员工的价值观同润朗佰嘉的价值观统一起来，员工的利益同企业利益统一起来，使企业真正成为员工的利益共同体，从而激励员工为润朗佰嘉的可持续发展而努力。</span></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p></td>
                  <td width="271" valign="top" height="111" style="word-break: break-all;"><img src="http://www.canyon-model.com/upfile/others/1440485624116874.jpg" title="1440485624116874.jpg" alt="人才.jpg" style="color: rgb(51, 51, 51); font-family: 微软雅黑; font-size: 12px; white-space: normal; widows: 1; background-color: rgb(255, 255, 255); float: right;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
                </tr>
              </tbody>
            </table>
            <p> <br>
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--[include file="Public:footer" /]-->