<!--[include file="Public:header" /]-->
<div class="productbg"></div>
<div style="clear:both"></div>
<div class="ernavbg"></div>
<div class="service inner">
	 <div class="ernav">
    	<span>Motion平台</span>
         <ul>            
            <li <!--[if condition="$data.type == 1"]-->class="hover"<!--[/if]-->><a href="{:U('product/index?type=1')}">游戏名称</a></li>


        </ul>

    </div>
     <div class="erright">
    	<div class="top"> <span>{$typename}</span>
          <div class="position"> 您当前位置：<a href="__APP__/">首页</a> > <a href="{:U('product/index')}">Motion平台</a> >
            <a href="{:U('product/index?type='.$data[type].'')}">{$typename}</a> > {$data.name}</div>
        </div>
        <div class="ertitle"  style="text-align: center">
        	<b>{$data.name}</b> {$data.enname}

        </div>
         <div style="text-align: center">
             <img src="__ROOT__{$data.thumb}" alt="">
         </div>
        <div class="content">
        	{$data.content}
        </div>
     </div>
</div>
<div style="clear:both"></div>

<!--[include file="Public:footer" /]-->