<!--[include file="Public:header" /]-->
<link rel="stylesheet" href="__CSS__/slideshows.css" />

<script src="__JS__/jquery1.js"></script>

<script src="__JS__/jquery.cycle.all.js"></script>

<script src="__JS__/jquery.easing.1.3.js"></script>

<style type="text/css">
  .slideshow_box{display:none;}
</style>

<script>

$(function() {

  





// ---------------------------------------------------

// Slideshow 1



    $('#slideshow_1').cycle({

        fx: 'scrollHorz',   

    easing: 'easeInOutCirc',

    speed:  700, 

    timeout: 5000, 

    pager: '.ss1_wrapper .slideshow_paging', 

        prev: '.ss1_wrapper .slideshow_prev',

        next: '.ss1_wrapper .slideshow_next',

    before: function(currSlideElement, nextSlideElement) {

      var data = $('.data', $(nextSlideElement)).html();

      $('.ss1_wrapper .slideshow_box .data').fadeOut(300, function(){

        $('.ss1_wrapper .slideshow_box .data').remove();

        $('<div class="data">'+data+'</div>').hide().appendTo('.ss1_wrapper .slideshow_box').fadeIn(600);

      });

    }

    });

  

  // not using the 'pause' option. instead make the slideshow pause when the mouse is over the whole wrapper

  $('.ss1_wrapper').mouseenter(function(){

    $('#slideshow_1').cycle('pause');

    }).mouseleave(function(){

    $('#slideshow_1').cycle('resume');

    });

  





// ---------------------------------------------------

// Slideshow 2



    $('#slideshow_2').cycle({

        fx: 'fade',   

    speed:  900, 

    timeout: 5000, 

    pager: '.ss2_wrapper .slideshow_paging', 

        prev: '.ss2_wrapper .slideshow_prev',

        next: '.ss2_wrapper .slideshow_next',

    before: function(currSlideElement, nextSlideElement) {


    }

    });



  $('.ss2_wrapper').mouseenter(function(){

    $('#slideshow_2').cycle('pause');

    $('.ss2_wrapper .slideshow_prev').stop(true, true).animate({ left:'20px'}, 200);

    $('.ss2_wrapper .slideshow_next').stop(true, true).animate({ right:'20px'}, 200);

    }).mouseleave(function(){

    $('#slideshow_2').cycle('resume');

    $('.ss2_wrapper .slideshow_prev').stop(true, true).animate({ left:'-40px'}, 200);

    $('.ss2_wrapper .slideshow_next').stop(true, true).animate({ right:'-40px'}, 200);

    });

  





// ---------------------------------------------------

// Slideshow 3



    $('#slideshow_3').cycle({

        fx: 'uncover',    

    speed:  700, 

    timeout: 5000, 

    pager: '.ss3_wrapper .slideshow_paging', 

    pagerAnchorBuilder: pager_create,

        prev: '.ss3_wrapper .slideshow_prev',

        next: '.ss3_wrapper .slideshow_next',

    before: function(currSlideElement, nextSlideElement) {

      var data = $('.data', $(nextSlideElement)).html();

      $('.ss3_wrapper .slideshow_box .data').fadeOut(300, function(){

        $('.ss3_wrapper .slideshow_box .data').remove();

        $('<div class="data">'+data+'</div>').hide().appendTo('.ss3_wrapper .slideshow_box').fadeIn(600);

      });

    }

    });

  

  function pager_create(id, slide) {

    var thumb = $('.thumb', $(slide)).html();

    var title = $('h4 a', $(slide)).html();

    var add_first = (id==0)?' class="first"':'';

    return '<li><a href="#" title="'+title+'"'+add_first+'>'+thumb+'</a></li>';

    };

  

  // not using the 'pause' option. instead make the slideshow pause when the mouse is over the whole wrapper

  $('.ss3_wrapper').mouseenter(function(){

    $('#slideshow_3').cycle('pause');

    }).mouseleave(function(){

    $('#slideshow_3').cycle('resume');

    });

  

  

  

  

// ---------------------------------------------------

  

  $('a[href="#"]').click(function(event){ 

    event.preventDefault(); // for this demo disable all links that point to "#"

  });

  

});

</script>

<div class="productbg"></div>
<div style="clear:both"></div>
<div class="ernavbg"></div>
<div class="service inner">

        <!--[include file="Product:nav" /]-->

     <div class="erright">
    	<div class="top"> <span></span>
          <div class="position"> 您当前位置：<a href="__APP__/">首页</a> > <a href="{:U('product/index')}">解决方案</a> >
            <a href="{:U('product/index?type='.$data[type].'')}">{$typename}</a> > {$data.name}</div>
        </div>
        <div style="text-align:center;" class="ertitle">
        	<b>{$data.name}</b>
        </div>
        <div class="content">
        	{$data.content}
        </div>


<div style="clear:both;"></div>
              

<div class="ss2_wrapper">

    

      <a href="#" class="slideshow_prev"><span>Previous</span></a>

      <a href="#" class="slideshow_next"><span>Next</span></a>

        

      <div class="slideshow_paging"></div>

      

      <div class="slideshow_box">



        <div class="data"></div>

      </div>

      

      <div id="slideshow_2" class="slideshow">

        
<!--[volist name="imgs" id="v"]-->
        <div class="slideshow_item">

          <div class="image"><a href="#"><img src="{$v}" alt="photo 2" width="900" height="606" /></a></div>

        </div>
<!--[/volist]-->
              

        

      </div>



    </div><!-- .ss2_wrapper -->



</div>
</div>
<div style="clear:both"></div>

<!--[include file="Public:footer" /]-->