<!--[include file="Public:header" /]-->
<div class="newsbg"></div>
<div style="clear:both"></div>
<div class="ernavbg"></div>
<div class="news inner">
	<div class="ernav">
    	<span>新闻资讯</span>
        <ul>
        	<li <!--[if condition="$type == 1"]-->class="hover"<!--[/if]-->><a href="{:U('news/index?type=1')}">行业新闻</a></li>
            <li <!--[if condition="$type == 2"]-->class="hover"<!--[/if]-->><a href="{:U('news/index?type=2')}">公司新闻</a></li>
            <li <!--[if condition="$type == 3"]-->class="hover"<!--[/if]-->><a href="{:U('news/index?type=3')}">媒体报道</a></li>
        </ul>
    </div>
     <div class="erright">
    	<div class="top">
        	<span>
            	{$typename}
            </span>
            <div class="position">
            	
            	您当前位置：<a href="__APP__/">首页</a> > 
                <a href="{:U('news/index')}">新闻资讯</a> >
                {$typename}
            </div>
        </div>
        
        <div class="content">
        	<ul>
             <!--[volist name="list" id="v"]-->
          <!--[if condition="$i == 1"]-->
          <li class="top"> 
              <a href="{:U('news/show?id='.$v['id'].'')}"><img src="{$v.thumb}"/></a>
              <span class="tit"><a href="{:U('news/show?id='.$v['id'].'')}">{$v.name}</a></span>
              <div class="cont"> 
				<p>{$v.summary}</p>
              </div>
              <a href="{:U('news/show?id='.$v['id'].'')}" class="xx">了解详情</a>
          </li>
          <!--[else/]-->
          <li class="down"> 
              <span class="time">{$v.addtime|date='Y-m-d',###}</span>
              <a href="{:U('news/show?id='.$v['id'].'')}">{$v.name}</a>
          </li>
          <!--[/if]-->
          <!--[/volist]-->
            </ul>
            <div class="page">{$page}</div>
        </div>
     </div>
     
</div>

<!--[include file="Public:footer" /]-->