<!--[include file="Public:header" /]-->

<div class="consultationbg"></div>
<div style="clear:both"></div>
<div class="ernavbg"></div>
<div class="service inner">
  <div class="ernav"> <span>咨询服务</span>
    <ul>
      <li <!--[if condition="$data.id == 14"]-->class="hover"<!--[/if]-->><a href="{:U('consultation/index')}">医院管理咨询</a></li>
      <li <!--[if condition="$data.id == 4"]-->class="hover"<!--[/if]-->><a href="{:U('consultation/presale')}">售前咨询</a></li>
      <li <!--[if condition="ACTION_NAME == 'strategy'"]-->class="hover"<!--[/if]-->><a href="{:U('consultation/strategy')}">实施咨询</a></li>
    </ul>
  </div>
  <div class="erright">
    <div class="top"> <span>{$data.name}</span>
      <div class="position"> 您当前位置：<a href="__APP__/">首页</a> > <a href="{:U('consultation/index')}">实施咨询</a></div>
    </div>
    <div class="ertitle"> <b>实施咨询</b> Implementation consulting</div>
    <div class="content strategy"> 
        {$data.content.0}
    	<!--<ul class="jm_zhengce">
                <li>
                    <p>
                        覆盖全国七大区域，辐射十二个核心城市，囊括范围不断延展，实施咨询团队遍布全国，形成全方位服务格局；
                    </p>
                    <div>
                        <span>全方位服务格局</span>
                        <span>Full service pattern</span>
                    </div>
                </li>

                <li>
                    <p>
                        十多年教育行业HRP政府监管项目交付经验，历练出精细、专业、完整、不断创新的服务体系；
                    </p>
                    <div>
                        <span>全周期运维体系</span>
                        <span>Full - cycle operation and maintenance system</span>
                    </div>
                </li>

                <li>
                    <p>
                        400热线支持、咨询服务、远程服务、驻场服务……银石惠众对客户需求实时聚焦，响应速度迅速快捷，服务质量精益求精，保障教育机构高质高效运营，赢得了良好业界口碑。
                    </p>
                    <div>
                        <span>全方位服务保障</span>
                        <span>Full service guarantee</span>
                    </div>
                </li>
            </ul>
            -->
        
    </div>
    
  </div>
</div>
<div style="clear:both"></div>

<!--[include file="Public:footer" /]-->