<!--[include file="Public:header" /]-->

<div class="advantage">
  <div class="w_auto">
    <div class="mainbody">
    	<!--[include file="aboutus:nav" /]-->
      <div class="rightbody">
        <div class="zidong">
          <div class="link"> <span><a href="__APP__/">首页</a> ＞ <a href="{:U('aboutus/index')}">关于润朗佰嘉</a> ＞ {$data.name} </span> </div>
          <div class="bt">
            <p class="title">{$data.name}</p>
            <p class="en">Advantage</p>
          </div>
          <p><img class="img" src="__IMG__/20150824171522_601.jpg" alt="" width="769" height="210"></p>
          <ul>
            <li class="wid">
              <div class="ico a1">&nbsp;</div>
              <p class="en">SCALE</p>
              <p class="title">规模优势</p>
              <dl>
                <dd>21年深耕市场</dd>
                <dd>1000人专业团队</dd>
                <dd>10000项经典案例</dd>
                <dd>30000㎡办公生产面积</dd>
                <dd>香港、深圳、上海、西安<br>
                  四地公司辐射全国</dd>
              </dl>
            </li>
            <li class="bk">
              <div class="ico a2">&nbsp;</div>
              <p class="en">TECHNICAL</p>
              <p class="title">技术优势</p>
              <dl class="mar">
                <dd>国家级高新技术企业<br>
                  16项专利技术</dd>
                <dd>第一家引进电脑镭射切割技术<br>
                  第一家引入3D打印技术</dd>
                <dd>拥有强大的跨界资源整合能力<br>
                  提供一站式行业整体解决方案</dd>
              </dl>
            </li>
            <li class="wid">
              <div class="ico a3">&nbsp;</div>
              <p class="en">SERVICE</p>
              <p class="title">服务优势</p>
              <dl>
                <dd>精准把握客户需求<br>
                  永续保持对客户的热枕</dd>
                <dd>科学严谨的服务流程<br>
                  确保产品交付能力</dd>
                <dd>强大的售后服务团队<br>
                  让客户无后顾之忧</dd>
              </dl>
            </li>
          </ul>
          {$data.content.0}
        </div>
      </div>
    </div>
  </div>
</div>
<!--[include file="Public:footer" /]-->