<!--[include file="Public:header" /]-->

<div class="history">
  <div class="w_auto">
    <div class="mainbody">
      <!--[include file="aboutus:nav" /]-->
      <div class="rightbody">
        <div class="link"> <span><a href="__APP__/">首页</a> ＞ <a href="{:U('aboutus/index')}">关于润朗佰嘉</a> ＞ {$data.name} </span> </div>
        <div class="img">{$data.content.0}</div>
        <div class="bt">
          <p class="title">{$data.name}</p>
          <p class="en">Growth History</p>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
<!--[include file="Public:footer" /]-->