<div class="ernav">
    	<span>关于我们</span>
        <ul>            
            <li <!--[if condition="$data.id == 1"]-->class="hover"<!--[/if]-->><a href="{:U('aboutus/index')}">公司介绍</a></li>
			<li <!--[if condition="$data.id == 2"]-->class="hover"<!--[/if]-->><a href="{:U('aboutus/honor')}">企业荣誉</a></li>
			<li <!--[if condition="ACTION_NAME == 'style' || ACTION_NAME == 'style_show'"]-->class="hover"<!--[/if]-->><a href="{:U('aboutus/style')}">企业风采</a></li>
            <li <!--[if condition="$data.id == 3"]-->class="hover"<!--[/if]-->><a href="{:U('aboutus/speech')}">总裁致辞</a></li>
        </ul>
        
        <!--<span style="margin-top:8px">联系我们</span>
        <img src="__IMG__/tel.jpg">
        <div>
        	北京嘉乾阁家具有限公司<br>
            电话:010-85791899<br>
            手机（微信）：15652997347<br>
            联系人：王经理<br>
            邮箱：beijingjiaqiange@163.com<br>
            网址:www.jiaqiange.com<br>
            工厂地址：北京顺义临河村<br>
            直营中心：北京朝阳区高碑店新村一区4-1
        </div>-->
    </div>