<!--[include file="Public:header" /]-->

<div class="patent">
  <div class="w_auto">
    <div class="mainbody">
      <!--[include file="aboutus:nav" /]-->
      <div class="rightbody">
        <div class="w_auto3">
          <div class="link"> <span><a href="__APP__/">首页</a> ＞ <a href="{:U('aboutus/index')}">关于润朗佰嘉</a> ＞ {$data.name} </span> </div>
          <div class="clearfix"></div>
          <div class="bt">
            <p class="title">{$data.name}</p>
            <p class="en">Patent</p>
          </div>
          <img src="__IMG__/patent_img.jpg" alt="专利证书-banner" width="760" height="207" class="img"> {$data.content.0} </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!--[include file="Public:footer" /]-->