<!--[include file="Public:header" /]-->
<div class="aboutusbg"></div>
<div style="clear:both"></div>
<div class="ernavbg"></div>
<div class="service inner">
	 <!--[include file="Aboutus:nav" /]-->
     <div class="erright">
    	<div class="top">
        	<span>企业风采</span>
            <div class="position">
            	您当前位置：<a href="__APP__/">首页</a> > 
                <a href="{:U('aboutus/index')}">联系我们</a> > 
                企业风采 >
                {$data.name}
            </div>
        </div>
        
        <div class="content">
        	<span class="t">{$data.name}</span>
        	{$data.content}
        </div>
     </div>
</div>
<div style="clear:both"></div>

<!--[include file="Public:footer" /]-->