<!--[include file="Public:header" /]-->
<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			<!--[include file="Public:menu" /]-->
            
			<div class="main-content">
				<!-- #section:basics/content.breadcrumbs -->
				

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">
					<div class="page-content-area">
						<div class="page-header">
							<h1>
								控制台
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">								
								<div class="row">
									<div class="col-sm-5">
										<div class="widget-box transparent">
											<div class="widget-header widget-header-flat">
												<h4 class="widget-title lighter">
													<i class="ace-icon fa fa-star orange"></i>
													服务器信息
												</h4>

												<div class="widget-toolbar">
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>
												</div>
											</div>

											<div class="widget-body">
												<div class="widget-main no-padding">
													<table class="table table-bordered table-striped">
														

														<tbody>
															<tr>
																<td>服务器操作系统</td>

																<td>{$Think.const.PHP_OS}
																</td>
															</tr>

															<tr>
																<td>ThinkPHP版本</td>

																<td>{$Think.VERSION}
																</td>
															</tr>

															<tr>
																<td>运行环境</td>

																<td>{$_SERVER['SERVER_SOFTWARE']}
																</td>
															</tr>

															<tr>
																<td>MYSQL版本</td>

																<td><!--[php]-->
							$system_info_mysql = M()->query("select version() as v;");
						<!--[/php]-->{$system_info_mysql.0.v}
																</td>
															</tr>

															<tr>
																<td>上传限制</td>

																<td>{:ini_get('upload_max_filesize')}
																</td>
															</tr>
														</tbody>
													</table>
												</div><!-- /.widget-main -->
											</div><!-- /.widget-body -->
										</div><!-- /.widget-box -->
									</div>
								</div><!-- /.row -->

								<div class="hr hr32 hr-dotted"></div>

								<div class="row">
								</div>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content-area -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->
			<!--[include file="Public:footer" /]-->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/dr_htadmin/js/jquery.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='__PUBLIC__/dr_htadmin/js/jquery1x.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='__PUBLIC__/dr_htadmin/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="__PUBLIC__/dr_htadmin/js/bootstrap.min.js"></script>

		<script src="__PUBLIC__/dr_htadmin/js/jquery.dataTables.min.js"></script>
		<script src="__PUBLIC__/dr_htadmin/js/jquery.dataTables.bootstrap.js"></script>

		<script src="__PUBLIC__/dr_htadmin/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/dr_htadmin/js/ace.min.js"></script>

		<script type="text/javascript">
			jQuery(function($) {
				var oTable1 = 
				$('#sample-table-2')
				.dataTable( {
					bAutoWidth: false,
					"aoColumns": [
					  { "bSortable": false },
					  null, null,null, null, 
					  { "bSortable": false }
					],
					"aaSorting": [],
			
			    } );
			
			
				$(document).on('click', 'th input:checkbox' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
				});
			
			
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();
			
					var off2 = $source.offset();
					//var w2 = $source.width();
			
					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}
			
			})
		</script>


		<link rel="stylesheet" href="__PUBLIC__/dr_htadmin/css/ace.onpage-help.css" />
		<link rel="stylesheet" href="__PUBLIC__/dr_htadmin/js/themes/sunburst.css" />

		<script type="text/javascript"> ace.vars['base'] = '..'; </script>
		<script src="__PUBLIC__/dr_htadmin/js/ace/elements.onpage-help.js"></script>
		<script src="__PUBLIC__/dr_htadmin/js/ace/ace.onpage-help.js"></script>
		<script src="__PUBLIC__/dr_htadmin/js/rainbow.js"></script>
		<script src="__PUBLIC__/dr_htadmin/js/language/generic.js"></script>
		<script src="__PUBLIC__/dr_htadmin/js/language/html.js"></script>
		<script src="__PUBLIC__/dr_htadmin/js/language/css.js"></script>
		<script src="__PUBLIC__/dr_htadmin/js/language/javascript.js"></script>
	</body>
</html>
