<!--[include file="Public:header" /]-->

<div class="building">
  <div class="w_auto">
    <div class="mainbody">
      <div class="leftnav">
        <ul>
          <li <!--[if condition="$data.id == 15"]-->class="on"<!--[/if]-->><a title="品牌地产商" href="{:U('partner/index')}">品牌地产商</a></li>
          <li <!--[if condition="$data.id == 16"]-->class="on"<!--[/if]-->><a title="政府机关" href="{:U('partner/government')}">政府机关</a></li>
          <li <!--[if condition="$data.id == 17"]-->class="on"<!--[/if]-->><a title="大型企业" href="{:U('partner/enterprise')}">大型企业</a></li>
          <li <!--[if condition="$data.id == 18"]-->class="on"<!--[/if]-->><a title="设计机构" href="{:U('partner/design')}">设计机构</a></li>
        </ul>
      </div>
      <div class="rightbody">
        <div class="w_auto3">
          <div class="link"> <span><a href="__APP__/">首页</a> ＞ <a href="{:U('partner/index')}">合作伙伴</a> ＞ {$data.name} </span> </div>
          <div class="clearfix"></div>
          <div class="bt">
            <p class="title">{$data.name}</p>
			<!--[if condition="$data.id == 15"]--><p class="en">BUILDING BRADN REAL ESTATE</p><!--[/if]-->
            <!--[if condition="$data.id == 16"]--><p class="en">GOVERNMENT OFFICE</p><!--[/if]-->
            <!--[if condition="$data.id == 17"]--><p class="en">LARGE ENTERPRISE</p><!--[/if]-->
            <!--[if condition="$data.id == 18"]--><p class="en">DESIGN MECHANISM</p><!--[/if]-->
          </div>
          <img src="__IMG__/build_img1.jpg" alt="合作伙伴——banner" width="760" height="209" class="img">
          <div class="partner">
            {$data.content.0}
            <p><br>
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--[include file="Public:footer" /]-->