<div style="clear:both"></div>
<div class="footerbg">
	<div class="ft">
    	<div class="content inner">
        	<div class="l">
            	<span>联系方式</span>
                <ul>
                	<li>dongruanwanghai@gmail.com    </li>
                	<li>010-67183686  010-66410808</li>
                	<li>010-66410008</li>
                	<li>北京市东城区广渠门内大街45号雍贵中心D座11层</li>
                </ul>
            </div>
            <div class="m"><img src="__IMG__/rwm.png"></div>
            <div class="r">
            	<span>解决方案</span>
                <ul>
                    <li <!--[if condition="$type == 1"]-->class="hover"<!--[/if]-->><a href="{:U('product/programme?type=1')}">教育集团解决方案</a></li>
                    <li <!--[if condition="$type == 2"]-->class="hover"<!--[/if]-->><a href="{:U('product/programme?type=2')}">医联体解决方案</a></li>
                    <li <!--[if condition="$type == 3"]-->class="hover"<!--[/if]-->><a href="{:U('product/programme?type=3')}">医院运营管理解决方案</a></li>
                    <li <!--[if condition="$type == 4"]-->class="hover"<!--[/if]-->><a href="{:U('product/programme?type=4')}">政府解决方案</a></li>
                    <li <!--[if condition="$type == 5"]-->class="hover"<!--[/if]-->><a href="{:U('product/programme?type=5')}">DRG解决方案</a></li>
                </ul>
            </div>
            <div class="r">
            	<span>客户服务</span>
                <ul>
                    <li><a href="{:U('consultation/index')}">医院管理咨询</a></li>
                    <li><a href="{:U('consultation/presale')}">售前咨询</a></li>
                	<li><a href="{:U('consultation/strategy')}">实施咨询</a></li>
                </ul>
            </div>
            
            <div class="r">
            	<span>关于我们</span>
                <ul>
                	<li><a href="{:U('aboutus/index')}">公司介绍</a></li>
                    <li><a href="{:U('aboutus/honor')}">企业荣誉</a></li>
                	<li><a href="{:U('aboutus/style')}">企业风采</a></li>
                    <li><a href="{:U('aboutus/speech')}">总裁致辞</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    
</div>
<div class="footerdbg">
<div class="footerd inner">
    	<div class="l">版权所有：北京银石惠众科技有限公司   京ICP备13014106号       </div>
        <ul>
        	<li><a href="{:U('index/index')}">网站首页</a></li>
            <li><a href="{:U('aboutus/index')}">关于我们</a></li>
            <li><a href="{:U('product/index')}">产品与解决方案</a></li>
            <li><a href="{:U('programme/cases')}">案例展示</a></li>
            <li><a href="{:U('consultation/index')}">咨询服务</a></li>
            <li><a href="{:U('news/index')}">新闻资讯</a></li>
            <li><a href="{:U('responsibility/index')}">社会责任</a></li>
            <li><a href="{:U('contactus/index')}">联系我们</a></li>
        </ul>
    </div>
</div>
</body>
</html>
